<section class="container">
  <h2 class="title">{{'TRANSFER.TRANSFER'| translate}}</h2>
  <table class="table">
    <thead class="table__header">
      <th class="table__header__content">{{'EXTRACT.DATE' | translate}}</th>
      <th class="table__header__content">{{'EXTRACT.VALUE' | translate}}</th>
      <th class="table__header__content">{{'EXTRACT.DESTINY' | translate}}</th>
    </thead>
    <tbody *ngIf="transferencias.length > 0; else listaVazia">
      <tr class="table__line" *ngFor="let transferencia of transferencias, let i = index">
        <td class="table__line__content">{{transferencia?.data | date: "short"}}</td>
        <td class="table__line__content">{{transferencia?.valor | currency}}</td>
        <td class="table__line__content">{{transferencia?.destino}}</td>
      </tr>
    </tbody>
  </table>
</section>
<ng-template #listaVazia>
  <td class="table__line__content">{{'EXTRACT.MESSAGE' | translate}}</td>
</ng-template>
